@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-medium";
    src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-light";
    src: url("./fonts/Roboto-Light.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


:root{
    /* CSS HEX */
    --cinnabar: #e55934ff;
    --mint-cream: #f2f7f2ff;
    --jet: #303036ff;
    --chefchaouen-blue: #4a8fe7ff;
    --shamrock-green: #4f9d69ff;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content"
    ;
    font-family: "Roboto-medium";
}

img {
    height: 25px;
    filter: invert(100%);
}

h1 {
    font-size: 30px;
}

#sidebar {
    background-color: var(--chefchaouen-blue);
    border: 1px solid black;
    grid-area: sidebar;
    color: white;
}

.sidebar_container {
    height: 60vh;
    padding-left: 1vw;
    padding-top: 2vh;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
    align-items: stretch;
    gap: 50px;
}

.dashboard {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;
    font-size: 20px;
}

.info {
    display: flex;
    gap: 20px;
}

#header {
    background-color: var(--mint-cream);
    border: 1px solid black;
    grid-area: header;
}

#content {
    background-color: var(--jet);
    border: 1px solid black;
    grid-area: content;
}

.search img {
    height: 25px;
}

.square {
    height: 50px;
    width: 50px;
    background-color: white;
}
.cards {
    background-color: var(--shamrock-green);
}